/* LIBRARY MAIN CONTENT */

@mixin anchor-at-center() {
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}

@mixin circle($radius) {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  width: $radius;
  height: $radius;
}

div#canvas {
  div#bg-layer, div#drawing-layer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 0;
    margin: 0;
    padding: 0;
  }
  div#bg-layer {
    z-index: 1;
  }
  div#drawing-layer {
    z-index: 2;
  }
}
span.point {
  @include anchor-at-center();
  @include circle(7px);
  position: absolute;
  border: 1px solid black;
  background-color: rgba(0,0,0,0.3);
  z-index: 10;
}